/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
Gemfile.lock
/bench/db/*.sqlite3
/bench/db/*.sqlite3-*
/bench/log/*.log
/bench/storage/
/bench/tmp/
/bench/app/assets/builds/*
!/bench/app/assets/builds/.keep
/bench/config/master.key
/bench/storage/*
!/bench/storage/.keep
/bench/tmp/storage/*
!/bench/tmp/storage/
!/bench/tmp/storage/.keep
/bench/public/assets
/bench/.env*
!/bench/.env*.erb
/bench/k6
