name: lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Linting
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '4.0'
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rubocop --config=./.rubocop.yml --parallel
